body{
    background-color: rgb(46, 46, 46);
}


.logo1{
 
 max-width: 100%;
 height: auto;
 margin-left: -9px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
}

h3{
    margin-top:40px;
}